# Quelques alias pratiques

alias ll='ls -l'
alias la='ls -a'
alias lla='ls -lah'

alias c='clear'
alias less='less --quiet'
alias s='cd ..'
alias df='df -H'
alias du='du -H'
alias md='mkdir'
alias rd='rmdir'
alias apt-get='echo "utilisez aptitude"'
alias upgrade='aptitude update && aptitude dist-upgrade && aptitude clean'

alias pyc='python -c'